*, body, button, nav, p, a, section, li, ul, ol, input, img h1, h2, h3, h4, h5, h6, {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body {
  @include FontRegular;
}

.app {
  background-color: $bkg_app_color;
  min-height: 100vh;
}